* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

.logoImage {
  width: 150px;
  margin: 30px;
  animation: colors 5s ease-in-out infinite;
  transition: all 2s;
}

@keyframes colors {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {

    transform: scale(1);
  }

}

.modeBtn {
  position: absolute;
  padding: 10px;
  color: white;
  background-color: #fc6767;
  top: 50px;
  right: 30px;
  border: 2px solid transparent;
  transition: all 0.5s;
  border-radius: 5px;

}

.modeBtn:hover {
  border: 2px solid white;
  background-image: linear-gradient(to right, #ec008c, #fc6767);
}

.avatarDiv {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  color: white;
  margin: 20px auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.avatars img {
  max-width: 50px;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.5s;

}

[type=radio] {
  position: absolute;
  opacity: 0;
  /* left:55px; */
  /* z-index: -1; */
  width: 80px;
  height: 80px;
}

/* IMAGE STYLES */
[type=radio]+img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
  padding: 5px;
  outline: 1px solid white;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: 20vh auto;
  padding: 40px;
  background-image: linear-gradient(to right, #ec008c, #fc6767);
  border-radius: 10px;
  margin-top: 5vh;
}

.inputBox input {
  padding: 10px;
  color: white;
  margin-top: 50px;
  max-width: 250px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

::placeholder {
  color: white;
}

.buttonHome {
  padding: 10px 100px;
  font-size: 16px;
  margin: 50px;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  transition: all 0.4s;
  position: relative;
  bottom: 0px;
  background: linear-gradient(to right, #ff512f, #dd2476);

}

.buttonHome:hover {
  cursor: pointer;
  bottom: 5px;
  opacity: 0.9;

}


/* chat component styling------------------------> */
.chatDiv {
  display: flex;
  flex-direction: column;
  /* border:1px solid red; */
  max-width: 600px;
  margin: 5vh auto;
  color: white;
}

.chatHeader {
  color:white;
  display: flex;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-items: center;
}

.chatHeader img {
  max-width: 50px;
  border-radius: 50%;
  background-color: black;
}

.username {
  margin: 20px;
}

.online {
  background-color: lightgreen;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.footer {
  display: flex;
  padding: 10px;
  color: white;
  max-width: 300px;
  margin: 20px auto;
  justify-content: center;
  outline: 2px solid white;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.chatBody {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px auto;
  height: 450px;
  width: 600px;
  overflow-y: auto;
  overflow-anchor: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.left {
  display: flex;
  max-width: 250px;
  padding: 5px;
  align-items: center;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.leftSpanTime {
  font-size: "12px";
  margin: "10px";
  margin-left: "30px";
  align-self: "flex-end";
}

.right {
  display: flex;
  position: relative;
  align-items: center;
  left: 300px;
  max-width: 250px;
  padding: 5px;
  margin: 10px;
  background-image: linear-gradient(to right, #ec008c, #fc6767);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px
}

.chatFooter {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.chatInput {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 15px;
  border-radius: 20px;
  /* box-shadow: 1px 1px 10px black; */

}

.sendBtn {
  border-radius: 10px;
  padding: 10px;
  width: 60px;
  transition: all 0.5s;
  margin: 5px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 1px 1px 10px black; */
  margin-right: 10px;
  cursor: pointer;
}

.sendBtn:hover {
  box-shadow: none;
}

.recieverAvatar {
  width: 50px;
  margin: 10px;
}




































































































































::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

@media only screen and (max-width:600px) {
  .chatBody {
    width: auto;
    margin: 10px;
  }

  .right {
    left: 30vw;
    max-width: 55vw;
  }

}